# nuggetpackages
//"Server=DESKTOP-4E6J8J9; Database=SYSTEMSALE; Trusted_Connection=True; MultipleActiveResultSets=true, TrustServerCertificate=true"
// "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJBZG1pbiIsImp0aSI6ImViYTNhOGQzLTIzN2QtNDBkNi1iZDBjLTdlNzg0ZGVlNjY4YSIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6IkFkbWluIiwiZXhwIjoxNzI4MTA3MDY0LCJpc3MiOiJGcmVlVHJhaW5lZCJ9.IpMFIixTYZ57NrqhO_NIQnLeIERcr5ngEiXNeavkeqI"